language: node_js
node_js:
    - "0.11"
    - "0.10"
services:
    - mysql
before_script:
    - mysql -e 'create database fortnotes;'
install:
    - npm install
script:
    - node ./bin/cli.js --config ../config/mysql.json
