language: node_js
node_js:
    - "0.12"
    - "0.10"
    - "iojs"
sudo: false
services:
    - mysql
install:
    - npm install
cache:
    directories:
        - node_modules
before_script:
    - mysql -e "create database fortnotes;"
    - psql -c 'create database fortnotes;' -U postgres
script:
    - node ./bin/cli.js --config ../config/mysql.json --test
    - node ./bin/cli.js --config ../config/postgres.json --test
    - node ./bin/cli.js --config ../config/sqlite.json --test
    - node ./bin/cli.js --config ../config/memory.json --test
