language: node_js
node_js:
    - "0.12"
    - "0.10"
sudo: false
services:
    - mysql
install:
    - npm install
cache:
    directories:
        - node_modules
before_script:
    - mysql -e "create database fortnotes;"
script:
	- gulp tests --config ../config/mysql.json
