sudo: false
language: node_js
node_js:
    - "5"
    - "4"
cache:
    directories:
        - node_modules
services:
    - mysql
install:
    - npm install
before_script:
    - mysql -e "create database fortnotes;"
    - psql -c "create database fortnotes;" -U postgres
script:
    - node ./bin/cli.js --test
    - node ./bin/cli.js --test --config ./tests/configs/mysql.json
    - node ./bin/cli.js --test --config ./tests/configs/sqlite.json
    - node ./bin/cli.js --test --config ./tests/configs/options.json
    - node ./bin/cli.js --test --config ./tests/configs/postgres.json
