language: node_js
node_js:
    - "0.12"
    - "0.10"
    - "iojs"
sudo: false
services:
    - mysql
install:
    - npm install
cache:
    directories:
        - node_modules
before_script:
    - mysql -e "create database fortnotes;"
    - psql -c "create database fortnotes;" -U postgres
script:
    - node ./bin/cli.js --test
    - node ./bin/cli.js --test --config ../config/mysql.json
    - node ./bin/cli.js --test --config ../config/postgres.json
    - node ./bin/cli.js --test --config ../config/memory.json
