doctype html
html
	head
		title FortNotes Web Client

		meta(charset='utf-8')
		meta(name='keywords', content='security online password manager AES RSA encryption')
		meta(name='description', content='Web application to work with the FortNotes system')

		link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Open+Sans')
		link(rel='stylesheet', type='text/css', href='css/app.css')
		link(rel='icon', type='image/png', href='img/favicon.png')

	body
		include mixins.jade

		include page.auth.jade
		include page.list.jade
		include page.edit.jade
		include page.menu.jade

		script(type='text/javascript', src='app.js', async='async')
