+page('auth')
	table.main
		tr
			td.header
				img(src='//fortnotes.com/img/logo.png')
		tr
			td.center
				table.auth
					tr
						td
							input.name(type='email', placeholder='Name', autofocus='autofocus')
					tr
						td
							input.pass(type='password', placeholder='Password')
					tr
						td
							button.login(type='button') Log In
					tr
						td.
							or
					tr
						td
							button.signup(type='button') Sign up
		tr
			td.footer
				a(href='#') About
				span.line |
				a(href='#') Privacy Policy
				span.line |
				a(href='#') Full version
